@model Cdxy_Eodis.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("退出登录", "LogOut", "Account", null, null)
    </div>
    <div>
        <p>@Model.Uid</p>
        <p>@Model.Pwd</p>
    </div>
</body>
</html>
