
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "" }))
        {
            <input type="text" name="inputUid" id="inputUid" class="" placeholder="Account" required autofocus>
            <input type="password" name="inputPwd" id="inputPwd" class="" placeholder="Password" required>
            <button type="submit" class="">Log In</button>
        }
    </div>
</body>
</html>
